$fa-font-path: "~font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome';

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

svg {
    display: block;
    margin: 0 auto;
}

.series {
    .data-point {
        transition: stroke-width 100ms linear;
        -moz-transition: stroke-width 100ms linear;
        -webkit-transition: stroke-width 100ms linear;
        fill-opacity: .5;
        stroke-opacity: 1;
    }

    .data-point.hover {
        stroke-width: 15px;
        stroke-opacity: .5;
    }
}

.priority {
    .data-point {
        transition: stroke-width 100ms linear;
        fill-opacity: .5;
        stroke-opacity: 1;

        &.hover {
            stroke-width: 15px;
            stroke-opacity: .5;
        }
    }
}

.tooltip {
    &.data-points-tooltip {
        z-index: -1;
        &.in {
            z-index: 1070;
            box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.51);
            background-color: rgba(255,255,255,1.0);
            padding: 1px;
            border: 1px solid rgba(0,0,0,.2);
            z-index: 10000;
            font-family: Arial;
            font-size: 13px;
            text-align: left;
            pointer-events: none;
            user-select: none;
            transition: opacity 250ms linear;
            transition-delay: 250ms;
            border-radius: 6px;
        }
    }
}

.data-points-tooltip {
    .tooltip-inner {
        background-color: #ffffff;
        color: #000000;
        text-align: left;
    }
}

.axis {
    &.axis--y {
        path {
            &.domain {
                display: none;
            }
        }
    }

    &.axis--x {
        path {
            &.domain {
                stroke-opacity: 0.2;
            }
        }
    }
}

.tree-map-container {
    margin: 0 auto;
}

#circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.tick {
    line {
        stroke-opacity: 0.2;
        shape-rendering: crispEdges;
    }
}

.node {
    cursor: pointer;
    circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    text {
        font: 12px sans-serif;
    }
}

.node--internal {
    circle {
        fill: #555;
    }

    text {
        text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-opacity: 0.4;
    stroke-width: 2px;
}

.overlay {
    background-color:#EEE;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle {
    display: none;
    &.show {
        display:block;
    }
}

.activeDrag {
    .ghostCircle {
        display: none;
    }
}

.back-shadow {
    box-shadow: 0px 0px 21px 9px rgba(0,0,0,0.61);
    min-height: 200px;
}

.img-thumbnail {
    &.height-200 {
        height: 200px;
        min-width: 100%;
    }
}

.chart-card {
    min-height: 360px;
}

.mb-100 {
    margin-bottom: 100px;
}

.chord-chart {
    .group-tick {
        line {
            stroke: #000;
        }
    }

    .ribbons {
        fill-opacity: 0.67;
    }

    .circle:hover {
        path {
            &.path-faded-away {
                display: none;
            }
        }
    }
}

.force-chart {
    .node {
        cursor: pointer;
        stroke: #3182bd;
        stroke-width: 1px;
    }

    .link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1px;
    }
}

.treemap-chart {
    .title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    text {
        pointer-events: none;
    }

    .aggregate {
        text {
            font-weight: bold;
        }
    }

    rect.parent, .aggregate rect {
        stroke-width: 2px;
    }

    rect {
        &.parent {
            pointer-events: none;
        }
    }

    .children rect.parent,
    .aggregate rect {
        cursor: pointer;
    }

    .children {
        rect {
            &.parent {
                fill: #bbb;
                fill-opacity: .5;
            }
        }
    }

    .children:hover {
        rect {
            &.child {
                fill: #bbb;
            }
        }
    }

    svg {
        border: 1px solid #ccc;
    }

    #generic-chart-container {
        padding: 10px 0;
    }
}














