<!DOCTYPE html>
<html ng-app="d3WorkApp" ng-strict-di>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><i class="fa fa-line-chart"></i><%= htmlWebpackPlugin.options.title %></a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref="home" ui-sref-active="active"><a href="javascript:void(0);">Home</a></li>
            <li ui-sref="customize" ui-sref-active="active"><a href="javascript:void(0);">Customize Charts</a></li>
        </ul>
    </div>
</nav>
<div ui-view class="container"></div>
</body>
</html>
