<!DOCTYPE html>
<html ng-app="d3WorkApp" ng-strict-di>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#customize">Customize Charts</a></li>
            <li><a href="#customize">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<div ui-view class="container"></div>
</body>
</html>
